<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DjangoExchange</title>
</head>
<body>
<form method="get" action="https://api.stackexchange.com/2.2/search/advanced" id="formdata" >
  {% csrf_token %}
<select name="options" id="options">
    <option id="sku">Option 1</option>
    <option id="sku2">Option 2</option>
</select>

<input name="number" type="text"  id="number">

<select name="price" id="price">
    <option id="price1">$5</option>
    <option id="price2">%10</option>
</select>

<button type="button" data-loading-text="enviando..." onclick="submitInfo()">Send</button>
</body>
</html>